#wrapper{
    display: grid;
    grid-template-columns: 200px 50px 100px;
    grid-template-rows: 100px 60px;

}


#elem{
    color: #fff;
    background: black;
    margin: 5px;
    padding: 2px;
    border-radius: 10px;

}